/* :root {
    --dark1: #0F0F0F;
    --dark2: #2D2E2E;
    --light: #ededed;
    --accent: #F4B860;
} */


body {
    max-width: 980px;
    margin: auto;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    font-weight: 300;
}

/* Make images display in a grid on larger screens */
@media (min-width: 768px) {
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

/* Make images display in one column on smaller screens */
@media (max-width: 767px) {
    .image-container {
        display: flex;
        flex-direction: column;
    }
}

/* Add some padding and style the project name and date */
.projekt {
    padding: 1em;
}

.project-name {
    font-size: 1.5em;
    font-weight: 400;
    /* margin-bottom: 0.5em;*/
    margin: 0;
    max-width: 650px;
    color: #585858
        /* font-family: 'Poiret One', cursive; */
}

.datum {
    font-size: 2rem;
    font-weight: 500;
    float: right;
    /* margin: 0.5rem; */
    margin: 0;
    color: #585858
}

.nadpisdatum {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

/* Style the images */
.project-image {
    max-width: 100%;
    height: auto;
    margin: 0.5rem 0 0 0;
    border-radius: 1%;
}

figcaption {
    margin-top: -0.5rem;
}

/* Style image info */


/* Add some padding and style the header */
header {
    padding: 1em;
}

h2 {
    font-weight: 400;
}


.hl {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    font-weight: 300;
}

.hr {
    float: right;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    font-weight: 200;
    /* font-family: 'Poiret One', cursive; */
}

.h-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

/* Add some padding and style the sections in the header */
.MM-info,
.úvodník {
    padding: 1em;
}

.MM-info h3 {
    font-size: 1.5em;
    /* font-weight: bold; */
    margin-bottom: 0.5em;
}

.úvodník h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

/* Add some padding to the main content */
.main-content {
    padding: 1em;
}

.big-p {
    max-width: 452px;
}